.navigator{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.navigator ul{
    z-index: 3;
}

.navigator ul li{
    margin: 60px 0;
}

.navigator ul li:first-child{
    margin-top: 0;
}

.navigator ul li:last-child{
    margin-bottom: 0;
}

.navigator ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-weight: 600;
    color: #ffffff;
    background-color: #000000;
    border: 2px #ffffff solid;
    border-radius: 50%;
}

.navigator::before{
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
}

.navigator ul li a:hover, .navigator ul li a:active{
    color: var(--primary-color);
    background-color: #ffffff;
}

.navigator #selected{
    color: var(--primary-color);
    background-color: #ffffff;
}


.navigator .navigator__icon{
    position: absolute;
    top: -20px;
}
